{% load static %}
<!doctype html>
<html>
    <head>
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 650px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

p {
  height: 80px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
        <title>Food Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog2.css' %}">  
        <link href="https://fonts.googleapis.com/css?family=Arapey:400i&display=swap" rel="stylesheet">  
    </head>
    <body>
        {% if user.is_authenticated %}
        <a href="{% url 'add_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href= 'events';">Events</button>

        <div class="page-header">
            <h1><a href="/">Food Blog</a></h1>
            <center><h3><i>"Count the memories, not the calories" -</i><b>Lisa</b></h3></center>
        </div>

        <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div>
                            <a href="http://127.0.0.1:8000/highlight/2/" style="background:url( {{ highlights.1.cover.url }} ); padding-top: 80%;background-position:50%;background-size: cover;display: block;"></a>
                            <a href="http://127.0.0.1:8000/highlight/2/" style="color:black">
                                <center><h2>{{ highlights.1 }}</h2></a></center>
                                <div class="text">
                                <center><p>{{ highlights.1.text }}</p></center>
                            </div>
                                <br><br>
                            </div>                                     
                            <div>
                                <a href="http://127.0.0.1:8000/highlight/3/" style="background:url( {{ highlights.2.cover.url }} ); padding-top: 80%;background-position:50%;background-size: cover;display: block;"></a>
                                <a href="http://127.0.0.1:8000/highlight/3/" style="color:black">
                                    <center><h2>{{ highlights.2 }}</h2></a></center>
                                    <center><p>{{ highlights.2.text }}</p></center>
                                    <br><br>
                                </div>                
                            </div>
                    <div class="col-sm-7 hero-center">
                        <div class="hero-container">
                            <a href="http://127.0.0.1:8000/highlight/1/" style="background:url({{ highlights.0.cover.url }}); padding-top: 80%;background-position:50%;background-size: cover;display: block;"></a>
                            <a href="http://127.0.0.1:8000/highlight/1/" style="color:black">
                            <center><h2><span class="box">{{ highlights.0 }}</span></h2></a></center>
                            <br><br>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <a href="http://127.0.0.1:8000/highlight/4/" style="background:url({{ highlights.3.cover.url }}); padding-top: 80%;background-position:50%;background-size: cover;display: block;"></a>
                            <a href="http://127.0.0.1:8000/highlight/4/" style="color:black">
                            <center><h2><span class="box">{{ highlights.3 }}</span></h2></a></center>
                            <center><p>{{ highlights.3.text }}</p></center>
                            <br>
                            <br>
                        </div>
                        <div>
                            <a href="http://127.0.0.1:8000/highlight/5/" style="background:url({{ highlights.4.cover.url }}); padding-top: 80%;background-position:50%;background-size: cover;display: block;"></a>
                            <a href="http://127.0.0.1:8000/highlight/5/" style="color:black">
                            <center><h2><span class="box">{{ highlights.4 }}</span></h2></a></a></center>
                            <center><p>{{ highlights.4.text }}</p></center>
                        </div>
                    </div>
                </div>

                <hr> 

            <div class="row">
            {% for post in posts %}
            <div class="column"> 
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                {{ post.published_date }}
                <img class="img-fluid" src="{{ post.cover.url}}" alt="{{ post.title }}">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
             
    </body>
</html>