{% load static %}
<html>
    <head>
        <title>FoodBlog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog2.css' %}">  
    </head>
    <body>

            {% if user.is_authenticated %}
            <a href="{% url 'add_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <div class="page-header">
            <h1><a href="/">Food Blog</a></h1>
            <center><h3><i>"Count the memories, not the calories" -</i><b>Lisa</b></h3></center>
            </div>

<div class="content container">
                <div class="event">
                    <br>
                    <center>
                    {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                    <h2>{{ event.title }}</h2>
                    <p><img src="{{ event.cover.url}}" width="760" height="500" alt="{{ event.title }}"</p>
                    <h2>{{ event.location }}</h2>
                    <h4>Am {{ event.date }} um {{ event.time }}</h4>
                    <p>{{ event.text|linebreaksbr }}</p>
                </center>
            </div>
</div>
</body>
</html>