body {
    font-family: 'Didot', serif;
}

.textcutter {
    display: flex;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid-half {
    max-width: 100%;
    height: auto;
}

.circular--square {
    border-radius: 50%;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    color: black;
}

.page-footer {
    background-color: #272a3d7c;
    margin-top: 0;
    padding: 10px 20px 20px 20px;
}
.page-footer h1, .page-footer h1 a, .page-footer h1 a:visited, .page-footer h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
    text-align: left;
}

.date {
    color: #000000ab;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 15pt;
    margin-right: 30px;
    margin-top: 15px;
}

.top-menu2, .top-menu2:hover, .top-menu2:visited {
    color: red;
    font-size: 20pt;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

.table td.text {
    max-width: 50px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

